.bg{

    background-color:hsl(0, 0%, 14%)
 

 
    

}
.cl{
    background-color:hsla(0, 0%, 23%, 0.952);
    
   
}

.bg2{

    background-color:hsla(0, 1%, 26%, 0.979);
 

 
    

}